/* font-family: 'Roboto', sans-serif; contents */
/* font-family: 'Raleway', sans-serif; headers */
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: #deeeea;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}
p {
    font-family: 'Roboto', sans-serif;
}
:root {
    --main-color: rgb(53, 0, 50);
}
/* navbar*/
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
}
.topnav {
    background-color: var(--main-color);
    overflow: hidden;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
}

.hamb-icon {
    position: absolute;
    top: 14px;
    right: 25px;
    cursor: pointer;
}
.line {
    border-radius: 4px;
    width: 30px;
    height: 4px;
    background-color: rgb(255, 241, 241);
    margin-bottom: 5px;
    transition: 0.5s;
}
.change #line1 {
    transform: rotate(-45deg) translate(-6px, 4px);
}
.change #line2 {
    opacity: 0;
}
.change #line3 {
    transform: rotate(45deg) translate(-8px, -7px)
}

/* top section */
.top-section {
    text-align:center;
    padding: 75px 0 0 0;
}
.profile-img {
    margin-top: 20px;
}
.profile-img img {
    width: 150px;
    border-radius: 50%;
}
.presentation {
    margin-top: 50px;
}
.presentation span {
    color: rgb(53, 0, 50);
}
.social-networks {
    margin-top: 30px;
}
.social-networks img {
    width: 25px;
    text-align: center;
    padding-right: 10px;
}
/* my skills section */
.center {
    text-align: center;
    margin-top: 60px;
}
.skills {
    background-color: #39a6a3;
    border-radius: 15px;
    width: 90%;
    margin: 25px auto;
    text-align: left;
    box-sizing: border-box;
    padding: 15px 15px 15px;
    box-shadow: 5px 5px 20px 1px #000000;
}
.skills h2 {
    color: var(--main-color);
}
.skillBox {
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0;
}
.skillBox p {
    color: #deeeea;
    text-transform: uppercase;
    font-weight: bold;
}
.skill {
    box-sizing: border-box;
    border-radius: 0 10px 10px 0;
    padding: 2px;
    border:1px solid #02eeff;
}
.skill_level {
    background-color: cyan;
    border-radius: 0 10px 10px 0;
    width: 100%;
    height: 10px;
}
/* Works section */
.works__img img {
    border-radius: 10px;
    width: 100%;
}
.works__button {
    text-align: center;
}
.works__button form input {
    color: var(--main-color);
    border: none;
    border-radius: 3px;
    width: 100%;
    height: 30px;
    cursor: pointer;
    margin-top: 5px;
}
.works__button form input:hover {
    background-color: var(--main-color);
    color: white;
}
.works__button form input:active {
    background-color: rgb(95, 70, 94);
}
input[type='submit'] {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 600;
}
/* contact */
.contact {
    background-color: #231E23;
    width: 100%;
    color: #DEEEEA;
    box-sizing: border-box;
    padding: 15px 25px; 
}
div.elem-group {
    margin: 30px 0;
}
label {
    display: block;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 4px;
    font-size: 1rem;
}
input, select, textarea {
    font-size: 0.8rem;
    font-family: 'roboto';
    width: 320px;
    height: 25px;
}
textarea {
    height: 250px;
}
form button {
    height: 40px;    
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    
}
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

@media only screen and (min-width: 600px) {
    /* navbar */

    .hamb-icon {
        display: none;
    }
    /* top section */
    .top-section {
        display: flex;
        justify-content: center;
        margin: 100px;
        gap: 150px;
    }
    .profile-img {
       margin: 20px;
    }
    .profile-img img{
        width: 250px;
    }
    /* my skills section */
    .center {
        text-align: unset;
        margin: 150px 50px;
    }
    .boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 25px;
    }
    .boxes .skills {
        max-width: 450px;
    }
    /* contact */
    .contact {
        padding: 15px 50px;
    }
    input, select, textarea {
        width: 450px;
    }
}